@import '~@payloadcms/ui/scss/app.scss';

.pageset-grid {
  display: flex;
  grid-gap: var(--base);
  width: 100%;
  height: 100%;
}

.pageset-column__block_container {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  min-height: 100px;
  padding-inline: 10px;
}

p {
  margin: 0 !important;
}

.button-column {
  max-width: 24rem;
  min-width: 24rem;
  flex: 1;
  width: 100%;
  padding: base(1);
  border-radius: base(0.5);
  border: 1px solid var(--theme-elevation-100);
  background-color: transparent;
  min-height: 90vh;
  transition: all 0.05s ease-in-out;
  cursor: pointer;

  &:hover {
    border-color: var(--theme-elevation-200);
    background: var(--theme-elevation-50);
  }
}
