.fancy {
    --w: 25vw;
    --b: 4px;
    --g: -5px;
    --c: #7a7a7a;

    width: fit-content;
    padding: 0 1em;
    line-height: 1.6em;
    border: 1px solid;
    color: #fff;
    background:
        conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0,
        conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
    background-size: 51% 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-image:
        linear-gradient(#0000 calc(50% - var(--b)/2),
            var(--c) 0 calc(50% + var(--b)/2),
            #0000 0) 1/0 var(--w)/calc(var(--w) + var(--g));
    margin-inline: auto;
}


.modal {
    will-change: opacity;
    transition: opacity 250ms linear; // NOTE: must match your 'transTime' prop
    opacity: 0;

    &:global(.modal-item--appearActive),
    &:global(.modal-item--appearDone),
    &:global(.modal-item--enterActive),
    &:global(.modal-item--enterDone) {
        opacity: 1;
    }

    &:global(.modal-item--exitActive),
    &:global(.modal-item--exitDone) {
        opacity: 0;
    }
}